<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="dataSourceBizLogTarget"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		abstract="false" singleton="true" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://127.0.0.1:3306/hls?useUnicode=true&amp;characterEncoding=UTF-8</value>
		</property>
		<property name="username">
			<value>bizlog</value>
		</property>
		<property name="password">
			<value>sogouAD!@#</value>
		</property>
	</bean>

</beans>

